<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/webfontworld/d2coding/D2Coding.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python Typing Practice</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="update-banner">　　(25.05.09 업데이트) Lv4 Extreme 모드가 추가되었습니다! 이것도 쉬운 사람? 😁　　</div>
    <h1>Python Typing Master</h1>
  </header>

  <main>
  <!-- 타이핑 연습 영역 -->
    <section class="typing-area">
      <div class="level-buttons">
        <button id="lv0">Lv0(Beginner)</button>
        <button id="lv1">Lv1(Intermediate)</button>
        <button id="lv2">Lv2(Advanced)</button>
        <button id="lv3">Lv3(Expert)</button>
        <button id="lv4">Lv4(Extreme)</button>
      </div>
      <h2>Type the Text Below:</h2>
      <div id="text-to-type"> </div>
      <input type="text" id="typing-input" placeholder="Start typing here...">
      <div class="stats-container">
        <div class="stats">
          <p>Typing speed: <span id="speed">0</span> CPM(Characters Per Minute)</p>
          <p>Accuracy: <span id="accuracy">0</span></p>
        </div>
        <div class="highScore">
          <p>High Score: <span id="high-score">0</span> CPM</p>
          <button id="reset-high-score">Reset High Score</button>
          <span id="high-score-message" style="display: none;">New Record!</span>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>2025 JingiruT (Korean Informatics Teacher)</p>
    <p>&copy; All rights reserved.</p>
    <p>Contact: skyjjw79@hanmail.net</p>
  </footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
